<header>
  <h1><button type="button" routerLink="/main">&lt;</button>Add Recipe</h1>
</header>

<main>
  <div class="add-form">
    <form (ngSubmit)="onSubmit()" #addForm="ngForm">
      <input
        id="author"
        type="text"
        name="author"
        [(ngModel)]="entity.author"
        placeholder="author"
      />
      <input
        id="name"
        type="text"
        name="name"
        [(ngModel)]="entity.name"
        placeholder="name"
      />
      <input
        id="type"
        type="text"
        name="type"
        [(ngModel)]="entity.type"
        placeholder="type"
      />
      <input
        id="recipe"
        type="text"
        name="recipe"
        [(ngModel)]="entity.recipe"
        placeholder="recipe"
      />
      <input id="add" type="submit" name="add" value="Add" />
    </form>
  </div>

  <div>
    <table id="entities">
      <thead>
        <th>Author</th>
        <th>Name</th>
        <th>Type</th>
        <th>Recipe</th>
      </thead>
      <tbody id="recipes-tbody">
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.author }}</td>
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.type }}</td>
          <td>{{ recipe.recipe }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
